<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell" id="tsd-search" data-index="{{relativeURL "assets/js/search.js"}}" data-base="{{relativeURL "./"}}">
                    <div class="field">
                        <ul class="link-container">
                          <li class="link-item leave-at-xs-sm"><a>Why rpc_ts?</a></li>
                          <li class="link-item leave-at-xs-sm"><a>Documentation</a></li>
                          <a href="https://github.com/aiden/rpc_ts" target="_blank"><li class="link-item" id="github-link">Github</li></a>
                        </ul>
                        <label for="tsd-search-field" class="tsd-widget search no-caption leave-at-xs-sm">Search</label>
                        <input id="tsd-search-field" type="text" />
                    </div>

                    <ul class="results">
                        <li class="state loading">Preparing search index...</li>
                        <li class="state failure">The search index is not available</li>
                    </ul>

                    <a href="{{relativeURL "index.html"}}" class="title">{{project.name}}</a>
                </div>

                <div class="table-cell" id="tsd-widgets">
                    <!-- <div id="header-github-button">Github</div> -->
                    <a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
                </div>
            </div>
        </div>
    </div>
</header>
