.button {
  font-family: $FONT_FAMILY_MONO;
  margin: 10px 15px;

  &:hover {
    text-decoration: none;
  }

  p {
    padding: 14px 0px 10px 0px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 0px;
    transition: background-color 0.3s ease;

    &:hover {
      text-decoration: none;
    }
  }
}

.button-blue {
  p {
    background-color: $MAIN_BLUE;
    color: $MAIN_WHITE;
    &:hover {
      background-color: #2066f1;
    }
  }
}

.button-white {
  p {
    background-color: $MAIN_WHITE;
    color: $MAIN_BLUE;

    &:hover {
      background-color: #fbfbfb;
    }
  }
}

.button-clear {
  p {
    background-color: none;
    color: $MAIN_BLUE;
    border: 0.5px #fff solid;

    &:hover {
      background-color: #f9f9f9;
    }
  }
}
