.button {
  font-family: $FONT_FAMILY_MONO;
  margin: 0 15px;
  p {
    padding: 14px 0px 10px 0px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
  }
}

.button-blue {
    p {
      background-color: $MAIN_BLUE;
      color: $MAIN_WHITE;
    }
}

.button-white {
    p {
      background-color: $MAIN_WHITE;
      color: $MAIN_BLUE;
    }
}
