.button {
  font-family: $FONT_FAMILY_MONO;
  margin: 0 15px;
  
  p {
    padding: 14px 0px 10px 0px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 0px;
  }
}

.button-blue {
    p {
      background-color: $MAIN_BLUE;
      color: $MAIN_WHITE;
    }
}

.button-white {
    p {
      background-color: $MAIN_WHITE;
      color: $MAIN_BLUE;
    }
}

.button-clear {
    p {
      background-color: none;
      color: $MAIN_BLUE;
      border: 0.5px #fff solid;
    }
}
