// Fonts
//
$FONT_FAMILY: 'Source Sans Pro', sans-serif;
$FONT_FAMILY_MONO: Menlo, Monaco, Consolas, 'Courier New', monospace;

// Colors
//
$COLOR_BACKGROUND: #115cf1;
$COLOR_TEXT: #fff;
$COLOR_LINK: #abccff;

// GRID
$MAX_CONTENT_WIDTH: 1200px;

$MAIN_BLUE: #115cf1;
$SECONDARY_BLUE: #2066f1;
$MAIN_WHITE: #fff;
$MAIN_GRAY: #f3f3f3;
