body {
  font-family: 'Theinhardt', sans-serif
}

.highlight{
  font-family: 'Reno Mono', monospace // Menlo, Monaco, Consolas, 'Courier New', monospace
}


.navbar {
  background-color:  #f3f3f3;
  color: #034BDA;
}

#hero-section {
  background-color: #F3F3F3;

  .display-3 {
    font-weight: 500;
    max-width: 660px;
  }

  .main-text {
    margin: 50px auto 0px auto;
  }

  .lead {
    max-width: 520px;
    margin: 30px auto;
    line-height: 40px;
  }

  .ups-section {
    color: $COLOR_BACKGROUND;
    .usp-title {
      font-size: 1.4em;
    }
    .usp-description {
      font-family: $FONT_FAMILY_MONO;
      font-size: 0.8em;
    }
  }

}


.gutter {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container {
  justify-content: center;
  margin-bottom: 50px;
}


@media (max-width: 576px) {
  .display-3 {
    font-size: 2.5em;
    text-align: left;
  }
  #hero-section {
    .lead {
      text-align: left;
      line-height: 30px;
    }
  }
}


@media (min-width: 576px) {
  .display-3 {
    font-size: 3.2em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .display-3 {
    font-size: 3.2em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .display-3 {
    font-size: 3.6em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}
