.nav-link {
  color: $MAIN_BLUE;
  text-decoration: none;
  font-family: $FONT_FAMILY_MONO;
  padding: 0px 30px;
}

.navbar-nav {
  align-items: center;
  font-size: 0.8em;
}


.navbar-brand {
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 10px;
  color: #115CF1;
}
