body {
  font-family: "Source Sans Pro", sans-serif;
}

.highlight {
  font-family: "Reno Mono", monospace; // Menlo, Monaco, Consolas, 'Courier New', monospace
}

.navbar {
  background-color: #f3f3f3;
  color: #034bda;
}

#hero-section {
  background-color: #f3f3f3;

  .display-3 {
    font-weight: 500;
    max-width: 660px;
  }

  .main-text {
    margin: 50px auto 0px auto;
  }

  .lead {
    max-width: 520px;
    margin: 30px auto;
    line-height: 40px;
  }

  .ups-section {
    color: $COLOR_BACKGROUND;

    .usp-container {
      border-top: #fff solid 1px;
    }

    .middle {
      border-left: none;
      border-right: none;
    }

    .usp-title {
      font-size: 1.4em;
    }

    .usp-description {
      font-family: $FONT_FAMILY_MONO;
      font-size: 0.8em;
    }
  }
}

#quicklook-section {
  margin-top: 75px;

  .codeBlock {
    margin-bottom: 50px;
  }

  h3 {
    font-weight: 400;
  }

  .section-title {
    font-weight: 200;
    font-size: 1.5em;
  }

  code {
    margin-left: -100px;
  }

  .highlight {
    background-color: #f3f3f3;
    border-radius: 40px;
  }

  pre {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.gutter {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container {
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .display-3 {
    font-size: 2.5em;
    text-align: left;
  }
  #hero-section {
    .lead {
      text-align: left;
      line-height: 30px;
    }
  }

  .button-container {
    justify-content: left;
    margin-bottom: 50px;
  }
}

@media (min-width: 576px) {
  .display-3 {
    font-size: 3.2em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .display-3 {
    font-size: 3.2em;
  }

  #hero-section {
    .ups-section {
      .middle {
        border-left: #fff solid 1px;
        border-right: #fff solid 1px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .display-3 {
    font-size: 3.6em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}
